<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativeqiyu" xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application>
        <meta-data android:name="com.qiyukf.sentry.auto-init" android:value="false" />
        <meta-data android:name="com.qiyukf.sentry.ndk.enable" android:value="false" />
        <meta-data android:name="com.qiyukf.sentry.anr.enable" android:value="false" />
        <receiver
          android:name="com.qiyukf.nimlib.service.NimReceiver"
          android:exported="false"
          android:process=":core"
          tools:node="remove">
          <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
          </intent-filter>
        </receiver>

        <service
         android:name="com.qiyukf.nimlib.job.NIMJobService"
         android:exported="true"
         android:permission="android.permission.BIND_JOB_SERVICE"
         android:process=":core"
         tools:node="remove"
        />
    </application>
</manifest>
